@import "../../styles/mixins.scss";

.companies {
    padding-block: 5rem;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem 2rem;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    img {
        width: 11rem;

        @include respond(phone) {
            margin-inline: auto;
        }
    }
}